$color-text-default: #777;
$color-green1: #197278;
$color-green1-light1: #6ca5a9;
$color-green2: #283d3b;
$color-cream-light4: #fbf8f7;
$color-cream-light3: #f8f2ef;
$color-cream-light2: #f5ece7;
$color-cream-light1: #f1e6df;
$color-cream: #edddd4;
$color-cream-dark1: #d8c9c1;
$color-orange1: #c44536;
$color-orange2: #772e25;
